body {
    background-color: #D4ECF8 ;
    overflow: auto;
}

.bg-light {
    background-color: #000F9F!important;
}

.nav-link {
    color: #f8f9fa !important;
    font-weight: bold;
}

.active {
    background-color: #Ff4713;
}

.btn {
    background-color: #Ff4713;
    border-bottom: #Ff4713 !important;
    border-radius: 31px 31px 32px 31px !important;
    width: 225px;
    font-weight: bold;
}

.ima {
    border-radius: 30px 0px 0px 30px !important;
    height: 645px !important;
}

.inp {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-radius: 0%;
}

.container {
    margin-top: 55px;
}


.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 50px;
    padding-left: 0;
}

.box {
    background: white;
    height: 100%;
    border-radius: 25px;
}

.box1 {
    background: transparent;
    height: 100%;
    border-radius: 25px;
}

.contact-form {
    height: 600px;
    border-radius: 25px;
    background-color: #00B2E3 !important;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.imgLogin {
    background-image: url(../img/img1.jpg);
    height: 750px !important;
    border-radius: 25px 0 0 25px;
    padding-left: 15px !important;
}

.imgRes {
    background-image: url(../img/img1.jpg);
    background-color: red;
    height: 100%;
    border-radius: 25px 0 0 25px;
    padding-left: 15px !important;
}

.imgContact {
    background-image: url(../images/logo.png);
    height: 290px;
    border-radius: 25px 0 0 25px;
    padding-left: 15px !important;
    background-repeat: repeat-y;
    background-position: right;
    background-size: auto;
}

#formContact {
    background-color: #00B2E3 !important;
    width: 100%;
    height: 800px;
    border-radius: 25px 25px 25px 25px;
}


.envelope{
    position: relative;
    width: 145%;
    z-index: 100;
}
.pho {
    top:-200px;
    left: -137px;
    width: 120%;
    height: 90%;
    z-index: 1;
}
.tiangleL{
    position: absolute;
    left: -137px;
    top:-180px;
    z-index: -30;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
        border-right:10px solid #e9e6eb; 
  }
  .tiangleR{
    position: absolute;
    right: 138px;
    top: -180px;
    z-index: -30;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
        border-left:10px solid #e9e6eb; 
  }
.form-group > button.btn{
    
    position: absolute;
    left: -65vw;
    top: 70%;

}

@media (max-width: 630px) {
    body {
        background: white;
    }
    .box {
        background: transparent;
        border-radius: 0px;
    }
    .container {
        margin-top: 0px;
    }
    .imgRes {
        width: 120%;
        margin-top: 0px;
        border-radius: 0px;
        height: 350px !important;
        background-position: center;
        position: relative;
        padding-left: 0px !important;
        background: red;
        background-size: cover;
        text-align: center;
        background-image: url(../img/register-resp.jpeg);
    }
    .imgLogin {
        width: 120%;
        margin-top: 0px;
        border-radius: 0px;
        height: 350px !important;
        background-position: center;
        position: relative;
        padding-left: 0px !important;
        background: red;
        background-size: cover;
        text-align: center;
        background-image: url(../img/Login-res.jpeg);
    }
    .imgContact {
        width: 150%;
        margin-top: 0px;
        border-radius: 0px;
        height: 350px !important;
        background-position: center;
        position: relative;
        padding-left: 0px !important;
        background: red;
        background-size: cover;
        text-align: center;
        background-image: url(../img/contact-res.jpeg);
    }
    .register-form {
        width: 325px;
        border-radius: 25px;
        background: white;
        height: 100%;
        margin-left: 250px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .login-form {
        width: 325px;
        border-radius: 25px;
        background: white;
        height: 525px;
        margin-left: 10%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-form {
        width: 100%;
        height: 700px;
        border-radius: 25px;
        background: #00B2E3 !important;
        margin-left: 5%;
        padding-left: 15px;
    }
    #contactUs {
        display: none;
    }
    #formContact {
        background-color: white !important;
        margin-top: 15PX;
        width: 92%;
        border-radius: 15PX;
        height: 700px;
        border-radius: 25px 25px 25px 25px;  
    }
    .fromhead{
        height: 30vh;
        width: 100vw;
    }
    .frombody{
        height: 70vh;
    }
    .envelope{
    position: relative;
    width: 100%;
    z-index: 100;
}
.pho {
    position: fixed;
    top:65vh;
    left: 10%;
    width: 80%;
    height: auto;
    z-index: 1;
}
.tiangleL{
    position: fixed;
    left: 10%;
    top: 66vh;
    z-index: -30;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
        border-right:10px solid #e9e6eb; 
  }
  .tiangleR{
    position: fixed;
    right: 10%;
    top: 66vh;
    z-index: -30;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
        border-left:10px solid #e9e6eb; 
  }
  .form-group > button.btn{
        left: 20vw;
        top: 0;
        position: relative;
    }

    .clouds{
        display: none;
    }

   
}